<div class="qa-container">
<h6 style="margin-top: 0;">How does Digital Download Work?</h6>
<ul>
<li>Step 1: Search for the desired product</li>
<li>Step 2: Select the software you need</li>
<li>Step 3: Proceed to cart as a quest or create an account</li>
<li>Step 4: Receive your software in minutes in your email</li>
<li>Final Step: Download and Install your purchased software</li>
</ul>

<h6>How long does it take to receive my order?</h6>
<p>As soon as we are able to successfully process your payment,
  you will receive a download link for your product and a Product Key.
  This process is usually between 15-20 minutes.
  If your order is delayed long than this,
  please refer to your SoftwareKeep account for the details of your purchase.</p>

<h6>How long does a genuine software license last?</h6>
<p>The license for any product purchased from Catsoft is a lifetime (perpetual) license.
  You may be required to purchase a new license with a new version of the product.
  In some cases, you might be eligible for an upgrade license that will allow you to upgrade at a discount price.</p>

<h6>What are Retail Software products?</h6>
<p>Retail Software products are the same products you would purchase at local software stores.
  They are packaged for retail sale and usually include the retail box,
  CDs, a manual, the paper license agreement, and an Activation key.
  Similar to OEM software, a Retail Product is licensed for use on one computer only.</p>

  <h6>What is a digital download?</h6>
  <p>A digital download is an electronic version of your software product,
    giving you access to download and use your new software immediately.
    This means that a physical CD or DVD disc is not included in your purchase.
    The software install program is ​ downloaded through cloud-based storage.</p>

<h6>Is your software legitimate?</h6>
<p>All our software products are 100% legitimate and authentic.
  They are all covered by our company's hassle-free money-back guarantee.</p>

<h6>How can I be certain that my copy of Microsoft Office is legitimate?</h6>
<p>We encourage all our customers to register their email address with their specific Microsoft Office Product key via Microsoft online activation to ensure verification and tracking of their authentic software products.</p>

<h6>How are you able to sell the software for so cheap?</h6>
<p>We work directly with our supplier to purchase large volumes to get the lowest rate possible.
  Because we save on costs, we want to ensure our valued customers save too.</p>

<h6>Can I buy one licensed software and install on multiple computers?</h6>
<p>OEM and Retail Product software licenses are designed to install and activate on one computer only, unless otherwise specified.</p>

<h6>Am I able to re-install the software on another machine should my operating system
crashed or computer hardware failed?</h6>
<p>OEM and Retail software licenses will allow activation on one machine only.</p>

<h6>Can I order a hardcopy DVD/CD disc of the software I purchased?</h6>
<p>Here at Catsoft,
  we rely on fast and efficient digital delivery service.
  This means no waiting for a physical product to be delivered,
  you can download your new software immediately.
  You have the option to backup your software after purchase to the device of your preference
  (ex. USB drive, disc, external hard drive).</p>

<h6>Is Windows Vista upgradable to Windows 7, 8 or 10?</h6>
<p>Absolutely, it is possible to upgrade Windows Vista to a more recent Microsoft Windows edition.
  However, this process will require a 'Clean' or 'Parallel Installation',
  followed by selecting the Custom-Install process.
  Please refer to your machine's hardware specification for more information on installation.</p>

<h6>Do you supply software products in volume or bulk orders?</h6>
<p>Large-volume purchases can certainly be arranged by contacting us directly,
  via email, live chat, or phone.
  We'll send you a comprehensive quotation with details of the product of your interest.</p>

<h6>When items are out of stock, how long does it take for those items to be restocked?</h6>
<p>We strive to keep the volume of our inventory sufficient for our customers.
  In the event that we run out of a particular product,
  we will do our utmost to inform customers immediately and re-supply our stock to fill your order in the most expedient method possible.</p>

<h6>Can I exchange the software I purchased for a higher edition if I have changed my mind or need something different
  (i.e. from Home & Student to Home & Business)?</h6>
<p>We follow our company's Return Policy strictly to avoid possibly invalidating the product key for your software.</p>

<h6>How do I request a price match from Catsoft?</h6>
<p>When making a purchase,
  price match requests from Catsoft are handled via Chat or Email.
  Please send us the URL link of the lower price that is still in effect that you want us to price match.
  Catsoft will then review and verify the price match request and the authenticity of the competitor's products.</p>

<h6>Can I ask for a price match after a purchase from Catsoft?</h6>
<p>A price match request after a purchase from Catsoft will not be honoured.</p>

<h6>What do I need to provide?</h6>
<p>You'll need to provide: The URL of the competitor's offer you'd like us to beat. The competitor's sale price.</p>

<h6>How to uninstall your Download?</h6>
<p><b>Mac</b></p>
<ul>
<li>Step 1: Click on Finder icon</li>
<li>Step 2: Click on Application folder</li>
<li>Step 3: Drag the Microsoft Office folder to Trash</li>
<li>Step 4: Remove preference and license files and Office folder and Open library folder and move all com.microsoft files to trash</li>
<li>Step 5: Empty thrash, If there’s anything in Trash you want to keep, be sure to make a copy before you continue, Click Finder > Empty Trash</li>
</ul>
<p><b>PC</b></p>
<ul>
<li>Step 1: Open Programs and Features by clicking the Start button</li>
<li>Step 2: Click on Control Panel</li>
<li>Step 3: After click on Programs option</li>
<li>Step 4: And then, Click on Programs and Features and follow the Microsoft Office steps to uninstall</li>
</ul>
</div>
