<section class="bottom-bar">
  <div class="d-flex space-between align-center bottom-bar-container">

    <small class="site-footer__copyright-content"> &copy;
      {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }} All Rights Reserved</small>

    <div class="d-flex space-between align-center bottom-payment">
      {%- for type in shop.enabled_payment_types -%}
        <div>
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </div>
      {%- endfor -%}
    </div>

  </div>
</section>
