<section class="deals-of-the-week">
  <div class="container">

    {%- assign collection = collections[section.settings.selected-collection] -%}
    <h4>{{ collection.title }}</h4>
    <div class="d-flex space-between deals-collection">
    {% for product in collections[section.settings.selected-collection].products %}
    <div class="deals-collection-product">{% include 'product_grid' %}</div>
    {% endfor %}
  </div>

  </div>
</section>


{% schema %}
{
  "name": "Deals of the Week",
  "settings": [
  {
    "type": "collection",
    "id": "selected-collection",
    "label": "Collection"
  }
  ],
  "presets": [
    {
      "name": "Deals of the Week",
      "category": "Collection"
    }
  ]
}
{% endschema %}
