<section class="what-is">
    <h3>What is Windows 365?</h3>
    <div class="content">
        <div class="centered">
            <div class="middle-left">
                <p>Windows 365 is a subscription-based cloud PC service. When you or, more likely, your employer — subscribes and sets it up, you get full access to a remote Windows desktop in any modern web browser.</p>
                <p>Essentially, this means that the user can install whatever software they like on their remote computer from anywhere through the internet. This happens as if you were sitting at an office desk with a powerful computer right in front of you. But don't get fooled — it's all remote in the cloud.</p>
                <p>Companies can make use of virtual desktop systems so users are able to access Windows applications and operating systems and environments within browsers on other computers. </p>
                <p>Picture this: you have a macOS operating system at home, but need access to Windows 11 for a work project. The new Windows 365 subscription will help you connect to a suitable machine and operate it from a browser on your device. You can install whatever Windows software, as well as create an environment with the full Windows OS anywhere.</p>
                <p>Windows 365 Cloud PCs will be based on Windows 10 Enterprise with additional features that relate to cloud computing; such as multi-factor authentication, MFA, and so on. Windows 11 will also become available in the Windows 365 service as soon as the operating system launches later this year.</p>
            </div>
        </div>
    </div>
</section>
<section class="pricing-and-availability">
    <div class="content">
        <div class="centered">
            <div class="middle-right">
                <h4>Windows 365 Pricing and Availability</h4>
                <p>Windows 365 will be available from August 2 for all sizes of companies. There are two types of subscription packages, Windows 365 Business and Windows 365 Enterprise. They both offer the same features but differ in performance options.</p>
                <p>Microsoft has stated that businesses will be able to easily control how much resources they use. They'll be able to decide what size the Cloud PC should be, and how many employees will have it. This is good because it means people with a big need for resources can get them, but others who don't need them can save money.</p>
                <p>Microsoft has revealed one pricing option so far with more to come on launch day. At the time of writing, we know that one of the Windows 365 Business plans costs $31 a month per user and offers two CPUs, 4GB RAM, and 128 GB storage space. We're excited to see what other options will be available!</p>
            </div>
        </div>
    </div>
</section>
<section class="what-we-know-accessibility">
    <h3>Windows 365 Features — Everything We Know So Far</h3>
    <div class="content">
        <div class="centered">
            <div class="middle-right">
                <h4>Accessibility</h4>
                <p>If you're looking for a more streamlined way to get work done, the Windows 365 Cloud PC is one of your best options. It's built with hybrid working in mind and will allow users to easily switch between devices without missing out on features and tools you may need.</p>
                <p>With cloud PCs from Microsoft, workers can start their day at home on their laptop or tablet before switching over and finishing up what they need on an office computer. Users also only have access to files that are stored online, so there won't be any concerns about data getting lost because everything has been backed up.</p>
            </div>
        </div>
    </div>
</section>
<section class="what-we-know-security">
    <div class="content">
        <div class="centered">
            <div class="middle-left">
                <h4>Security</h4>
                <p>Microsoft's Windows 365 is an excellent choice for businesses that need a comprehensive security package to protect their data.</p>
                <p>The company has been working hard in recent years, and we can see this with the number of integrations available on all versions of its newest operating system. For example, Microsoft Defender will alert your technicians if there are any unusual activity patterns happening on one or more computers within your network — just another way they keep you safe!</p>
                <p>Microsoft's Windows 365 helps businesses navigate a number of security issues, including the recent pandemic and before. The integration with Azure Active Directory and Microsoft Defender for Endpoint makes it easy to add multi-factor authentication and conditional access. Encryption is applied across data at rest or in transit, on Cloud PCs as well.</p>
            </div>
        </div>
    </div>
</section>
<section class="what-we-know-storage">
    <div class="content">
        <div class="centered">
            <div class="middle-right">
                <h4>Storage and Other Resources</h4>
                <p>At the moment, many features regarding Windows 365 are yet to be revealed. However, we already know that your new Cloud PC won’t be short of storage and computing resources.</p>
                <p>Each Cloud PC will be able to access a very fast internet connection. It’ll have download speeds of 10 Gbps and upload speeds of 4 Gbps. Microsoft is also exploring the option to do a video conference in a virtual session.</p>
                <p>Connecting from a Windows computer also seems to be the best way to experience Windows 365. You can only use features that are only available on Windows computers if you connect from one. Features like multiple monitors (up to 16), USB, Teams AV redirection, and support for scanners will only be available if you are connecting from Windows.</p>
            </div>
        </div>
    </div>
</section>
<section class="what-we-know-requirements">
    <h3>Windows 365 System Requirements</h3>
    <p class="subtitle">Microsoft has already revealed some system requirements to use Windows 365 to the fullest extent. This list was introduced in a lengthy deep-dive on Microsoft's Tech Community, which has revealed some of the technical requirements for using Windows 365.</p>
    <div class="content">
        <div class="centered">
            <div class="middle-left">
                <p><strong>The current list of requirements for using Windows 365 are:</strong></p>
                <ul>
                    <li>Windows 10 E3 + EMS E3 or Microsoft 365 F3/E3/E5/BP for users with Windows Pro endpoints.</li>
                    <li>Windows VDA E3 + EMS E3 or Microsoft 365 F3/E3/F5/BP for users without Windows Pro endpoints.</li>
                    <li>An active Azure subscription</li>
                </ul>
                <p>More system requirements may be revealed in the future. Watch out for the upcoming Windows 365release day on the 2nd of August, 2021.</p>
                <a href="#">Know More &gt;</a>
            </div>
        </div>
    </div>
</section>
<section class="compare-table">
    <h3>Get the Windows 365 Cloud PC that's right for you</h3>
    <div class="compare-toggle-tab">
        <button class="active" data-target="1">Business</button>
        <button data-target="2">Enterprise</button>
    </div>
    <div class="compare-tabs">
        <ul class="compare-tab active" data-target="1">
            {% assign loopTimes = '1,2,3' | split: ',' %}
            {% for time in loopTimes %}
                <li class="compare-item">
                    <div class="img-box">
                        <img src="" alt="" />
                    </div>
                    <p class="title">Basic</p>
                    <p class="subtitle">Run light productivity tools and web browsers.</p>
                    <div class="price-box">
                        <span class="price">$41.00</span>
                        <span>user/month</span>
                    </div>
                    <ul class="system-info">
                        <li>2 vCPU</li>
                        <li>4GB RAM</li>
                        <li>128GB Storage</li>
                    </ul>
                    <ul class="specs">
                        <li>Integrated with Microsoft Endpoint Manager for advanced threat protection, and PC and mobile device management</li>
                        <li>Supports the desktop versions of Office apps, Outlook, and OneDrive</li>
                        <li>Supports the desktop version of Microsoft Teams (chat and audio calls only)</li>
                        <li>Unlimited users</li>
                    </ul>
                    <button class="buy-now">Buy Now</button>
                </li>
            {% endfor %}
        </ul>
        <ul class="compare-tab" data-target="2">
            {% assign loopTimes = '1,2,3' | split: ',' %}
            {% for time in loopTimes %}
                <li class="compare-item">
                    <div class="img-box">
                        <img src="" alt="" />
                    </div>
                    <p class="title">Standard</p>
                    <p class="subtitle">Run light productivity tools and web browsers.</p>
                    <div class="price-box">
                        <span class="price">$41.00</span>
                        <span>user/month</span>
                    </div>
                    <ul class="system-info">
                        <li>2 vCPU</li>
                        <li>4GB RAM</li>
                        <li>128GB Storage</li>
                    </ul>
                    <ul class="specs">
                        <li>Integrated with Microsoft Endpoint Manager for advanced threat protection, and PC and mobile device management</li>
                        <li>Supports the desktop versions of Office apps, Outlook, and OneDrive</li>
                        <li>Supports the desktop version of Microsoft Teams (chat and audio calls only)</li>
                        <li>Unlimited users</li>
                    </ul>
                    <button class="buy-now">Buy Now</button>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script type="text/javascript">
let toggleTabs = document.getElementsByClassName('compare-toggle-tab')[0].childNodes;
for (let i = 0; i < toggleTabs.length; i++) {
    toggleTabs[i].addEventListener('click', function(event) {
        let resetTabs = document.getElementsByClassName('compare-toggle-tab')[0].childNodes;

        for (let y = 0; y < resetTabs.length; y++) {
            if (resetTabs[y].classList) {
                resetTabs[y].classList.remove('active');
            }
        }

        event.currentTarget.classList.add('active');

        let target = event.currentTarget.getAttribute('data-target');
        let tabs = document.getElementsByClassName('compare-tab');
        for (let x = 0; x < tabs.length; x++) {
            if (tabs[x].getAttribute('data-target') == target) {
                tabs[x].classList.add('active');
            } else {
                tabs[x].classList.remove('active');
            }
        }
    });
}

</script>
