<section class="banner">
    <div class="banner-content">
        <h1>Welcome to your Windows 365 Cloud PC</h1>
        <p>The new Windows 365 is a service that operates in the cloud and provides you with all of the features and functions necessary to securely stream your Windows experience. It includes apps, content, and settings that are personalized for you.</p>
        <button>Shop Now</button>
    </div>
    <div class="banner-img">
        <picture>
            <img src="{{ 'windows_365_features_banner_image.png' | asset_url }}" alt="Welcome 365 Cloud" title="Windows 365 Cloud" />
        </picture>
    </div>
</section>
