<div class="banner-windows11">
	<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/banner-windows11.png?v=1628683993" alt="" />
	<h2>Compare Versions<i class="fa fa-chevron-right"></i></h2>
</div>
<section id="main-content" class="main-content-windows-11">
	<div class="text-image-windows11">
		<div class="image-windows11">
			<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/upgrade-windows-11.png?v=1628684070" alt="" />
		</div>
		<div class="text-windows11 text-windows11-right">
			<h3>Upgrade to the New Windows 11</h3>
			<p>Windows 11 brings you closer to the people and things you love in a brand new experience.  Get more done with the people you care about,access all your apps, and multi-task easier than ever.<br/><br/>Windows 11 is a new experience that brings something new to every user around the globe.</p>
		</div>
	</div>
	<div class="text-feature-windows11">
		<h2>Windows 11 Features</h2>
		<p>Discover your next adventure with Windows 11. Gone are the days of outdated windows, this new technology has some amazing features that will change your life forever!<br/><br/>Learn more about the new Windows experience that you won't want to miss out on.</p>
	</div>
	<div class="text-image-windows11">
		<div class="text-windows11">
			<h3>A Peaceful Operating System Made for Creativity</h3>
			<p>Windows 11 comes with a complete UI overhaul - new icons, taskbar, windows, and a new Start menu. Every pixel comes together to provide a beautiful, sleek design.<br/><br/>It's not only gorgeous, but functional. The new interface is streamlined to make navigating your PC faster and easier. Every toggle and slider has been optimized for Windows 11.</p>
		</div>
		<div class="image-windows11 image-windows11-right">
			<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/peaceful.png?v=1628684112" alt="" />
		</div>
	</div>
	<div class="text-image-windows11">
		<div class="image-windows11">
			<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/multitask.png?v=1628684299" alt="" />
		</div>
		<div class="text-windows11 text-windows11-right">
			<h3>Multitask with Snap Layouts</h3>
			<p>Access all your apps without rearranging windows by hand. The new and improved Snap Layouts in Windows 11 allow you to multitask more efficiently. Group windows together, move them from screen to screen, and pick up exactly where you left off.</p>
		</div>
	</div>
</section>
<div class="bg-touch-friendly">
	<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/touch-friendly.png?v=1628684353" alt="" />
	<div class="content">
		<h4>Touch-friendly</h4>
		<p>On the go often? Bring your system with you.<br/><br/>Microsoft has introduced a full-featured, touch friendly tablet mode to make navigating easier on mobile devices. Meet the new on-screen keyboard, better dictating capabilities, and automatically rearranging apps.</p>
	</div>
</div>
<section id="main-content" class="main-content-windows-11">
	<div class="text-image-windows11">
		<div class="image-windows11">
			<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/connect.png?v=1628684397" alt="" />
		</div>
		<div class="text-windows11 text-windows11-right">
			<h3>Don’t Just Connect — Stay in Touch</h3>
			<p>It's time to retire some communication tools. Microsoft Teams is now natively integrated in Windows 11, with desktop notifications, and many sharing capabilities. Use the new chat feature to keep in touch with your team, family, and friends.</p>
		</div>
	</div>
	<div class="text-image-windows11">
		<div class="text-windows11">
			<h3>Gaming Reimagined</h3>
			<p>With Windows 11, playing games is like being in the game. With graphic capabilities that rival next-gen consoles and a catalogue of over 100 high-quality titles to choose from with an Xbox Game Pass membership, you'll never be bored again!</p>
		</div>
		<div class="image-windows11 image-windows11-right">
			<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/gaming.png?v=1628684433" alt="" />
		</div>
	</div>
</section>
<div class="bg-comparison">
	<div class="content">
		<h3>See The Comparison</h3>
		<p>Don’t hesitate and purchase Windows 11 today. We offer Windows 11 Home , Windows 11 Pro and Windows Enterprise</p>
		<ul>
			<li class="title-list-comparison">
				<div class="feature-comparison">
					Feature
				</div>
				<div>
					Windows 11 Home
					<a href="/products/microsoft-windows-11-home">Shop now</a>
				</div>
				<div>
					Windows 11 Pro
					<span>Best for SMEs</span>
					<a href="/products/microsoft-windows-11-pro">Shop now</a>
				</div>
				<div>
					Window Enterprise
					<a href="/products/microsoft-windows-11-enterprise">Shop now</a>
				</div>
			</li>
			<li>
				<span class="features-title">Set up with a local account</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Join Active Directory/Azure AD</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Hyper-V</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Windows Sandbox</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Microsoft Remote Desktop</span>
				<div class="icons">
					Client only
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Windows Hello</span>	
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Device encryption</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Firewall and network protection</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Internet protection</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Parental controls/protection</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Secure Boot</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Windows Defender Antivirus</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">BitLocker device encryption</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Windows Information Protection</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Mobile device management (MDM)</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Group Policy</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Enterprise State Roaming with Azure</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Assigned Access</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Dynamic Provisioning</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Windows Update for Business</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Kiosk mode</span>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-red.png?v=1628684546" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
				<div class="icons">
					<img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/icon-green.png?v=1628684580" alt="" />
				</div>
			</li>
			<li>
				<span class="features-title">Maximum RAM</span>
				<div class="icons">
					128GB
				</div>
				<div class="icons">
					2TB
				</div>
				<div class="icons">
					3TB
				</div>
			</li>
			<li>
				<span class="features-title">Maximum no. of CPUs</span>
				<div class="icons">
					1
				</div>
				<div class="icons">
					2
				</div>
				<div class="icons">
					4
				</div>
			</li>
			<li>
				<span class="features-title">Maximum no. of CPU cores</span>
				<div class="icons">
					64
				</div>
				<div class="icons">
					128
				</div>
				<div class="icons">
					256
				</div>
			</li>
		</ul>
	</div>
</div>