<div class="windows-365-features-page">
  	{% section 'windows-365-features_banner' %}
	{% section 'windows-365-features_summary' %}
    {% section 'windows-365-features_content' %}
</div>
{{ 'windows-365-features.css' | asset_url | stylesheet_tag }}
<style type="text/css">
  .windows-365-features-page { margin-top: -3.5%; }
</style>