<!-- Banner -->
<div class="home-banner-content">
  <div class="home-banner-texts">
      <h1><strong>Start your academic year right!</strong><br/></h1>
      <p>Use promo code <strong>BACK2SCH</strong>and save <strong>15%</strong> entire store</p>
      <div class="home-banner-buttons">
          <a class="link-categories" href="/microsoft-office/microsoft-office-2019">Copy Code</a>
      </div>
  </div>
  <img src="../assets/image_51.png" height="600px" width="600"/>
</div>

<!-- Shop by category -->
<div class="bg-shop-category-bf">
  <div class="content-bf">
      <h2>Shop By Categories</h2>
      <ul>
          <li>
              <div class="img">
                  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/mfoffice.png?v=1636030404" alt="" />
              </div>
              <strong>MS Office</strong>
              <a href="/collections/microsoft-office-2019">Shop</a>
          </li>
          <li>
              <div class="img">
                  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/office-apps.png?v=1636030555" alt="" />
              </div>
              <strong>Office Apps</strong>
              <a href="/collections/office-apps">Shop</a>
          </li>
          <li>
              <div class="img">
                  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/windows.png?v=1636030822" alt="" />
              </div>
              <strong>Windows</strong>
              <a href="/collections/windows-10">Shop</a>
          </li>
          <li>
              <div class="img">
                  <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/windows-server.png?v=1636030852" alt="" />
              </div>
              <strong>Windows Server</strong>
              <a href="/collections/windows-server-2022">Shop</a>
          </li>
      </ul>
  </div>
</div>

<!-- Trusted By -->
<section>
  <h1><strong>Trusted by 100,000+ individuals and businesses in USA</strong><br/></h1>
  <ul class="list-image-rating"><li>
  
    <div class="img-rating-reviews">
      </div>
        <div class="img-rating-reviews">
          <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
            <div style="box-sizing:border-box;display:block;max-width:100%">
              <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjYxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
            </div>
              <img src="../assets/image_188.svg" decoding="async" data-nimg="true" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
            </div>
              <span>4.8/5</span>
            </div>
      </li>
          <li>
            <div class="img-rating-reviews">
              <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                <div style="box-sizing:border-box;display:block;max-width:100%">
                  <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjYxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                </div>
                  <img src="../assets/image_189.png" decoding="async" data-nimg="true" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                </div>
                  <span>8.8/10</span>
                </div>
              </li>
                  <li>
            <div class="img-rating-reviews">
              <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                <div style="box-sizing:border-box;display:block;max-width:100%">
                  <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjYxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                </div>
                  <img src="../assets/image_193.png" decoding="async" data-nimg="true" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                </div>
                  <span>4.8/5</span>
                </div>
              </li>
                        <li>
            <div class="img-rating-reviews">
              <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                <div style="box-sizing:border-box;display:block;max-width:100%">
                  <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjYxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                </div>
                  <img src="../assets/reviewsio-logo-1.png" decoding="async" data-nimg="true" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                </div>
                  <span>4.82/5</span>
                </div>
              </li>
                                <li>
            <div class="img-rating-reviews">
              <div style="display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0">
                <div style="box-sizing:border-box;display:block;max-width:100%">
                  <img style="max-width:100%;display:block;margin:0;border:none;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ3IiBoZWlnaHQ9IjYxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIvPg==">
                </div>
                  <img src="../assets/image_192.svg" decoding="async" data-nimg="true" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%">
                </div>
                </div>
              </li>
                                </ul>
</section>

<!-- List of products -->
<div class="list-products-bf">
  <div class="content-bf">
    <h4>Top Products</h4>
    
      <h4>MS Office</h4>
      {%- assign collection = collections[section.settings.collection-2] -%}
    <section class="deals-of-the-week">
<div class="container">
        <div class="d-flex space-between deals-collection">
          {% for product in collection.products limit: 3 %}
            <div class="deals-collection-product">
              {% include 'product_grid' %}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="action">
      <a href={{product.url}}>Shop Now</a>
  </div>
</section>
      <a href="/collections/microsoft-office-2019">View All</a>
  </div>
</div>
<div class="list-products-bf">
  <div class="content-bf">
      <h4>Windows</h4>
      {%- assign collection = collections[section.settings.collection-3] -%}
    <section class="deals-of-the-week">
<div class="container">
        <div class="d-flex space-between deals-collection">
          {% for product in collection.products limit: 3 %}
            <div class="deals-collection-product">
              {% include 'product_grid' %}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="action">
      <a href={{product.url}}>Shop Now</a>
  </div>
</section>
      <a href="/collections/windows-10">View All</a>    
  </div>
</div>
<div class="list-products-bf">
  <div class="content-bf">
      <h4>Windows Server</h4>
      {%- assign collection = collections[section.settings.collection-4] -%}
    <section class="deals-of-the-week">
<div class="container">
        <div class="d-flex space-between deals-collection">
          {% for product in collection.products limit: 3 %}
            <div class="deals-collection-product">
              {% include 'product_grid' %}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="action">
      <a href={{product.url}}>Shop Now</a>
  </div>
</section>
      <a href="/collections/windows-server-2022">View All</a>
  </div>
</div>
<div class="list-products-bf">
  <div class="content-bf">
      <h4>Office Apps</h4>
      {%- assign collection = collections[section.settings.collection-5] -%}
    <section class="deals-of-the-week">
<div class="container">
        <div class="d-flex space-between deals-collection">
          {% for product in collection.products limit: 3 %}
            <div class="deals-collection-product">
              {% include 'product_grid' %}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="action">
      <a href={{product.url}}>Shop Now</a>
  </div>
</section>
      <a href="/collections/office-apps">View All</a>
  </div>
</div>