<div class="page-banner mobile-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0086/7932/5753/files/about-bg.jpg?2302')">
  <div class="page-title">
    <h3>{{ page.title }} Catsoft</h3>
  </div>
</div>

<div class="container">
  <div class="page-banner desktop-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0086/7932/5753/files/about-bg.jpg?2302')">
    <div class="page-title">
      <h3>{{ page.title }}</h3>
    </div>
  </div>

  <div class="page_content">
    <p>{{ page.content }}</p>
  </div>

</div>
