<div class="ms-office-banner">
    <div class="content-office-banner">
        <h1>MS Office <strong>2021</strong> Vs MS Office <strong>2019</strong></h1>
    </div>
</div>
<div class="bg-table-comparisson">
<div class="content-lp-2021">
    <h2>Office product comparison</h2>
    <table>
        <tr>
            <td></td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/office-2019-home-student.png?v=1634831672" alt="" />
                </div>
                <span>Office 2019 Home & Student</span>
                <a href="/collections/microsoft-office-2019/products/office2019hs" class="links-table">
                    Shop Now
                </a>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/office-2021-home-student.png?v=1634831612" alt="" />
                </div>
                <span>Office 2021 Home & Student</span>
                <a href="/collections/microsoft-office-2021/products/office2021hs" class="links-table">
                    Shop Now
                </a>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/office-2019-home-business.png?v=1634831443" alt="" />
                </div>
                <span>Office 2019 Home & Business</span>
                <a href="/collections/microsoft-office-2019/products/office2019hb" class="links-table">
                    Shop Now
                </a>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0019/6454/0019/files/office-home-bussiness.png?v=1634831398" alt="" />
                </div>
                <span>Office 2021 Home & Business</span>
                <a href="/collections/microsoft-office-2021/products/office2021hb" class="links-table">
                    Shop Now
                </a>
            </td>
        </tr>
        <tr>
            <td><strong>Cost</strong></td>
            <td>
              <a href="/collections/microsoft-office-2019/products/office2019hs">
               <p>M.S.R.P <span>$149.99</span></p>
               For PC: $89.99 USD
                <p>M.S.R.P <span>$149.99</span></p>
               For PC: $104.99 USD
              </a>
            </td>
            <td>
              <a href="/collections/microsoft-office-2021/products/office2021hs">
                 <p>M.S.R.P <span>$149.99</span></p>
                 $124.99 USD
              </a>
            </td>
            <td>
              <a href="/collections/microsoft-office-2019/products/office2019hb">
               <p>M.S.R.P <span>$249.99</span></p>
               For PC: $158.99 USD
                <p>M.S.R.P <span>$249.99</span></p>
               For PC: $154.99 USD
              </a>
            </td>
            <td>
              <a href="/collections/microsoft-office-2021/products/office2021hb">
                <p>M.S.R.P <span>$124.99</span></p>
                $198.99 USD
             </a>
            </td>
        </tr>
        <tr>
            <td><strong>Purchase Type</strong></td>
            <td>One-time purchase</td>
            <td>One-time purchase</td>
            <td>One-time purchase</td>
            <td>One-time purchase</td>
        </tr>
        <tr>
            <td><strong>Installations</strong></td>
            <td>1 PC or Mac</td>
            <td>1 PC or Mac</td>
            <td>1 PC or Mac</td>
            <td>1 PC or Mac</td>
        </tr>
        <tr>
            <td><strong>Compatibility</strong></td>
            <td>Windows 10 macOS</td>
            <td>Windows 10<br/>Windows 11<br/>macOS</td>
            <td>Windows 10<br/>macOS</td>
            <td>Windows 10<br/>Windows 11<br/>macOS</td>
        </tr>
        <tr>
            <td>
                <div class="img-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" />
                </div>
                <strong>Word</strong>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="img-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" />
                </div>
                <strong>Power Point</strong>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="img-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" />
                </div>
                <strong>Excel</strong>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="img-icon">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" />
                </div>
                <strong>Outlook</strong>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
            <td>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                </div>
            </td>
        </tr>
        <tr>
            <td><strong>License for</strong></td>
            <td>Personal</td>
            <td>Personal</td>
            <td>Commercial</td>
            <td>Commercial</td>
        </tr>
        <tr>
            <td><strong>License Type</strong></td>
            <td>Retail</td>
            <td>Retail</td>
            <td>Retail</td>
            <td>Retail</td>
        </tr>
    </table>
    <div class="table-mobile">
        <div class="tabs">
            <ul class="tabs-list">
                <li class="active"><a href="#tab4">Office 2019 Home & Student</a></li>
                <li ><a href="#tab3">Office 2021 Home & Student</a></li>
                <li ><a href="#tab2">Office 2019 Home & Business</a></li>
                <li ><a href="#tab1">Office 2021 Home & Business</a></li>
            </ul>
            <div id="tab1" class="tab">
                <table>
                    <tr>
                        <td>
                            Cost
                        </td>
                        <td>
                            <p>M.S.R.P <span>$124.99</span></p>
                            $198.99 USD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Purchase Type
                        </td>
                        <td>
                            One-time purchase
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Installations
                        </td>
                        <td>
                            1 PC or Mac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Compatibility
                        </td>
                        <td>
                           Windows 10<br/>Windows 11<br/>macOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" />
                            </div>
                            Word
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" />
                            </div>
                           Power Point
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" />
                            </div>
                           Excel
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" />
                            </div>
                           Outlook
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License for
                        </td>
                        <td>
                           Commercial
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License Type
                        </td>
                        <td>
                            Retail
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab2" class="tab">
                <table>
                    <tr>
                        <td>
                            Cost
                        </td>
                        <td>
                           <p>M.S.R.P <span>$249.99</span></p>
                           For PC: $158.99 USD
                            <p>M.S.R.P <span>$249.99</span></p>
                           For PC: $154.99 USD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Purchase Type
                        </td>
                        <td>
                            One-time purchase
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Installations
                        </td>
                        <td>
                            1 PC or Mac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Compatibility
                        </td>
                        <td>
                            Windows 10<br/>>macOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" />
                            </div>
                            Word
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" />
                            </div>
                           Power Point
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" />
                            </div>
                           Excel
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" />
                            </div>
                           Outlook
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License for
                        </td>
                        <td>
                            Commercial
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License Type
                        </td>
                        <td>
                           Retail
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab3" class="tab">
                <table>
                    <tr>
                        <td>
                            Cost
                        </td>
                        <td>
                             <p>M.S.R.P <span>$149.99</span></p>
                             $124.99 USD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Purchase Type
                        </td>
                        <td>
                            One-time purchase
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Installations
                        </td>
                        <td>
                            1 PC or Mac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Compatibility
                        </td>
                        <td>
                           Windows 10<br/>Windows 11<br/>macOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" />
                            </div>
                            Word
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" />
                            </div>
                           Power Point
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" />
                            </div>
                           Excel
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" />
                            </div>
                           Outlook
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License for
                        </td>
                        <td>
                            Personal
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License Type
                        </td>
                        <td>
                            Retail
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab4" class="tab active">
                <table>
                    <tr>
                        <td>
                            Cost
                        </td>
                        <td>
                           <p>M.S.R.P <span>$149.99</span></p>
                           For PC: $89.99 USD
                            <p>M.S.R.P <span>$149.99</span></p>
                           For PC: $104.99 USD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Purchase Type
                        </td>
                        <td>
                            One-time purchase
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Installations
                        </td>
                        <td>
                            1 PC or Mac
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Compatibility
                        </td>
                        <td>
                           Windows 10 macOS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" />
                            </div>
                            Word
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" />
                            </div>
                           Power Point
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" />
                            </div>
                           Excel
                        </td>
                        <td>
                            <div class="img">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/correct.png?v=1634658056" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" />
                            </div>
                           Outlook
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License for
                        </td>
                        <td>
                           Personal
                        </td>
                    </tr>
                    <tr>
                        <td>
                          License Type
                        </td>
                        <td>
                            Retail
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bg-slider-whats-office">
    <div class="slider-text">
        <div class="slider-whats-office">
            <h3>What is Office 2021?</h3>
          	<p>Microsoft Office 2021 is the new version of Microsoft's Office productivity suite. It runs on "perpetual licence" that can be used indefinitely without monthly invoices, with feature updates and security patches supported for five years at current prices — no changes there!</p>
          	<p>The new Microsoft office suite 2021 has new features like tighter integration between Skype for Business meetings (with enhanced video chat) plus improved accessibility tools like new text-to-speech voices on Mac, as well as a complete visual overhaul.</p>
          	<p>Despite being a new product, the pricing has not changed from the last suite, so don't miss this opportunity if you're looking forward to upgrading or saving some money on long term expenses.</p>
          	<a href="/collections/microsoft-office-2021">
                Shop Office 2021
            </a>
        </div>
        <div class="slider-whats-office">
            <h3>What is Office 2019?</h3>
          	<p>Microsoft Office 2019 is one of the standalone, local versions of the Microsoft Office software suite — including applications such as Word, Excel and PowerPoint. You make a one time purchase that allows you to keep on using your apps for life.</p>
          	<p>It's been designed this way in order to make the suite more affordable for customers like students, small businesses, and home-users. You'll also have permanent access to your apps even after uninstalling.</p>
          	<p>Office 2019 comes in various different editions, some of which offer more advanced apps like Access and Project for PC.</p>
          	<p>A downside to this suite is the lack of updates. Every app included is the 2019 version, meaning that you won’t get access to newer updates and features released in later years. </p>
          	<a href="/collections/microsoft-office-2019">
                Shop Office 2019
            </a>
        </div>
    </div>
</div>
<div class="bg-comparisson-vs">
    <div class="content-lp-2021">
        <ul>
            <li> 
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/image-1.png?v=1634658190" alt="" />
                </div>
                <h3>Office 2021 vs. Office 2019</h3>
                <p>The two latest versions of Microsoft Office are quite similar: they offer the same applications in their respective editions with one exception – pricing! The earlier release comes at a more affordable price point than its successor while still offering essential functions found within the Office apps.</p>
                <p><strong>Office 2021</strong> offers many new features that may be essential for some people. For example, it has much better and faster performance as well as accessibility updates and exciting additions within each application.</p>
                <p>It's always a tough decision when deciding between two similar products. In the case of Office 2019 vs Office 2021, it all comes down to what you need. If you're looking for just basic app access and don't plan on using any more advanced features, then the <strong>2019 suite</strong> might be perfect for your needs! With prices dropping at retailers soon, it’s the most affordable option.</p>
                <p>If you're looking to stay ahead of the game, <strong>Office 2021</strong> is your best option. It includes all latest features and improvements as well extended support that will keep you secure for years down come.</p>
            </li>
            <li>
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/image-2.png?v=1634658260" alt="" />
                </div>
                <h3>Office 2021 vs. Office LTSC</h3>
                <p>What you might not know about the newest <strong>Office 2021</strong> is that it comes in two different forms: the regular suite and Office LTSC which is specifically marketed for businesses.</p>
                <p>Office LTSC is the version of Office 2021 designed for businesses. "LTSC" stands for Long Term Service Channel and was specifically created so that it can be used on static systems, such as those without access to an internet connection or one which doesn’t change over time.</p>
                <p>Office LTSC is an all-inclusive pack that provides the Microsoft Office apps without any cloud connected features. Starting with 10 years of support, customers can choose how they want their updates or even skip them altogether in order to maintain what's on a computer.</p>
            </li>
        </ul>
    </div>
</div>
<div class="bg-whats-new">
    <div class="content-lp-2021">
        <h2>What’s new in Office 2021</h2>
        <p>Microsoft Office is a great tool to have, but if you don't want the monthly fee of $10-$100 per user for an app like Word or Excel, consider getting what's known as the latest "perpetual" version.</p>
      <ul class="slider-news-office">
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-1.png?v=1634660216" alt="" />
            </div>
            <h4>Advanced color picker.</h4>
        </div>
        <p>If you are still converting your colors into RGB values, there's no need to worry anymore. This new input field in the Colors dialog will take care of everything for you!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-onenote_f451da0d-0560-4cdc-89e3-5b92722f4c06.png?v=1634659462" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-visio.png?v=1634659604" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-access_12115c00-8bb1-4939-af6b-cecf4f1089ec.png?v=1634659380" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-publish.png?v=1634659565" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-2.png?v=1634660252" alt="" />
            </div>
            <h4>Microsoft Search.</h4>
        </div>
        <p>When you need help with something specific, use the new Microsoft Search. Just type in any supported Office app and the new search box will find what you need, and offer additional help!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-onenote_f451da0d-0560-4cdc-89e3-5b92722f4c06.png?v=1634659462" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-3.png?v=1634660284" alt="" />
            </div>
            <h4>New stock media</h4>
        </div>
        <p>Express yourself with the Office Premium Creative Content, a curated library of stock images and more that Microsoft constantly adds.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-visio.png?v=1634659604" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-4.png?v=1634660311" alt="" />
            </div>
            <h4>Visual refresh</h4>
        </div>
        <p>A modernized Start experience and new tabs. Experience a clean, clear style with monoline iconography that communicates action and features using simple visuals.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-5.png?v=1634660337" alt="" />
            </div>
            <h4>Performance improvements.</h4>
        </div>
        <p>The latest versions make your Office 2021 programs run faster, more stable and smoother than ever before!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-outlook_66239fc5-55a9-440b-8f6e-fdda4e70ea76.png?v=1634659492" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-onenote_f451da0d-0560-4cdc-89e3-5b92722f4c06.png?v=1634659462" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-6.png?v=1634660367" alt="" />
            </div>
            <h4>Revamped Draw tab</h4>
        </div>
        <p>Simplify how you work with digital ink using new Draw tab additions: Point Eraser, Ruler and Lasso. Now all your inking tools are right at hand!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-7.png?v=1634660395" alt="" />
            </div>
            <h4>Sketched style outline.</h4>
        </div>
        <p>Give your documents that personal, hand-drawn feel. Give shapes an outlined and graphic look which makes them more natural looking.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-8.png?v=1634660425" alt="" />
            </div>
            <h4>Support for Open Document format</h4>
        </div>
        <p>Microsoft has added support for the OpenDocument format (ODF) 1.3, which was recently released and makes it easier to use many new features in your documents!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-1.png?v=1634660216" alt="" />
            </div>
            <h4>Advanced page color support</h4>
        </div>
        <p>Immersive Reader allows users to easily select a page color. The 4x5 color picker will help you keep your eye strain at an arm's length by making it easier for scanning text!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-10.png?v=1634660459" alt="" />
            </div>
            <h4>New, natural text-to-speech voices</h4>
        </div>
        <p>The “Read Aloud” button in Immersive Reader offers more human sounding options when traditional automation just won't do.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-word_ba79c22e-d4fe-49fa-a5f6-2afb04f268d8.png?v=1634659638" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-11.png?v=1634660483" alt="" />
            </div>
            <h4>Dynamic Arrays, XLOOKUP, XMATCH and LET functions</h4>
        </div>
        <p>Many new features and functions are coming to Excel to enhance your spreadsheeting experience. Look up data easier, use dynamic ranges, and more!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-excel_ea3bcaca-fa74-4bb0-bb09-fda86d561318.png?v=1634659425" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-12.png?v=1634660506" alt="" />
            </div>
            <h4>Slideshow recorder</h4>
        </div>
        <p>Perfect recording for your presentation with just a few clicks of the mouse. The PowerPoint now supports presenter video, ink writing and laser pointer while recording!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-13.png?v=1634660535" alt="" />
            </div>
            <h4>Ink replay</h4>
        </div>
        <p>Replay your ink strokes as they were drawn to illustrate things step by step or show a thought process.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-ppt_bfc56711-e523-453c-aca4-76f95d3b5a4f.png?v=1634659531" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-14.png?v=1634660569" alt="" />
            </div>
            <h4>New stencils and shapes</h4>
        </div>
        <p>Expanded library with new stencils and shapes to use for planning infrastructures, layouts, and more!</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-visio.png?v=1634659604" alt="" />
                </li>
            </ul>
        </div>
    </li>
    <li class="item-list-news">
        <div class="title-list-news">
            <div class="img">
                <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-14.png?v=1634660569" alt="" />
            </div>
            <h4>Date/Time Extended data type</h4>
        </div>
        <p>To help you more easily and accurately keep track of the dates and times, SQL DateTime2 data type has been implemented.</p>
        <div class="new-in">
            <span>New in</span>
            <ul>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-access_12115c00-8bb1-4939-af6b-cecf4f1089ec.png?v=1634659380" alt="" />
                </li>
            </ul>
        </div>
    </li>
</ul>  
      <a href="/collections/microsoft-office-2021">
            Shop Office 2021
        </a>
    </div>
</div>
<div class="bg-which-office">
    <div class="content-lp-2021">
        <h2>Which Office product is the best for you?</h2>
        <ul>
            <li>
                <h5>Do you need Word, Excel, and PowerPoint on 1 device?</h5>
                <p>If you said “YES,” then we recommend <a hre="/collections/microsoft-office-2021/products/office2021hs">Microsoft Office 2021 Home and Student.</a></p>
            </li>
            <li>
                <h5>Do you need Outlook, but only on 1 device?</h5>
                <p>
                    In addition to the classic Office apps, Microsoft Office 20919 Home and Business also offers Outlook and is the best value. It remains as the best bang for your buck deal if you’re not looking to use advanced apps but need access to this excellent email client.
                    <br/>
                    <a href="collections/microsoft-office-2019/products/office2019hb">Office 2019 Home & Business</a> has the best value for a long 5-10 years of use, if you require Outlook but plan to only use your Office apps on one device.
                </p>
            </li>
            <li>
                <h5>Do you need other Office apps, such as Publisher and Access?</h5>
                <p>If you need to use advanced apps from the Office suite, opting in for a subscription may save you money. However, five years later, the total of your Microsoft 365 subscription is going to accumulate. If you plan on using your suite long-term, purchasing <a href="/collections/microsoft-office-2021/products/microsoft-office-2021-professional">Office 2021 Professional</a> is your best bet. If you want to save a bit more than you can go wit <a href="/collections/microsoft-office-2021/products/microsoft-office-2021-professional">Office 2021 Professional</a> with some less features than office 2021.</p>
            </li>
            <li>
                <h5>Do you need collaborative features, cloud storage and OneDrive storage?</h5>
                <p>Go with <a href="/">Microsoft 365</a>. The subscription-based service is the only suite Microsoft has released with real-time collaboration and many cloud features such as saving to the cloud, file synchronization across your devices, and much more.</p>
            </li>
            <li>
                <h5>Do you work in a largely on-premises business?</h5>
                <p>There’s no shame in not being ready for the cloud. If you’re a business owner with a very specific need for on-premises or hybrid software deployment, <a href="/collections/microsoft-office-2019/products/office2019pro">Office 2019 Professional</a> is most likely the best option for you. For large volume license buyers, <a href="/collections/microsoft-office-2019">Office 2019</a> is also the best option. It has an edge over other options, as it can run on a desktop and doesn't require any online access or additional installations. It also has some flexibility with the license, offering Open License and Open Academic options for eligible organizations.</p>
            </li>
            <li>
                <h5>Are you a student or home user?</h5>
                <p>
                    Purchasing <a href="/collections/microsoft-office-2021/products/office2021hs">Office 2021 Home & Student</a> will bring many benefits to your academic life and home life, which may make the new suite the best option for you.
                    <br/>
                    If you’re on a budget and don’t need extra features of Office 2021 then going with <a href="/collections/microsoft-office-2021/products/office2021hs">Office 2021 Home & Student</a> is a good choice.
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="bg-get-free">
    <div class="content-lp-2021">
        <h2>Get Free Consultancy on your Needs</h2>
        <p>Reach out to  our Sales Expert and they’ll  come up with the best solution for you. </p>
        <div class="call-live">
            <div class="box-call-live">
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-phone.png?v=1634658745" alt="" />
                </div>
                <span>Call</span>
                <p>Est wait time 15 mins</p>
                +1 877-537-1926
            </div>
            <div class="box-call-live">
                <div class="img">
                    <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/icon-message.png?v=1634658682" alt="" />
                </div>
                <span>Live Chat</span>
                <p>Est wait time <span>2 mins</span></p>
                <a>Start Converstation</a>
            </div>
        </div>
    </div>
</div>
<div class="take-quiz">
    <div class="quiz-info">
        <span class="quiz-title">
            Which office is best for you?
        </span>
        <span class="quiz-subtitle">
            Take our quiz to find out now.
        </span>
    </div>
    <a href="https://msofficesoftware.typeform.com/to/HgDsaK" target="_blank">Take Quiz</a>
    <div class="close-quiz">
        <img src="https://cdn.shopify.com/s/files/1/0244/3614/6228/files/close.png?v=1634918043" alt="" />
    </div>
</div>