<section class="container-lg center-block">
  <div class="large-margin">
    <div style="margin-top: 80px;">
      <h3 class="dark-blue" style="margin-bottom: 10px;">Our Most Epic Cyber Monday Deals Ever!</h3>
      <p>Why Settle only for Cyber Monday if you could have both Cyber Sunday and Monday? Use Promo code CYBER20 to enjoy 20% our Store.</p>

      <ul class="d-flex space-between align-center flex-wrap" style="margin-top: 50px; margin-bottom: 100px;">

        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/mac2019hs-instag_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home and Student for Mac</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">104</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>114</b></li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-student-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>

        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/2019hs-stripeg_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home and Student</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">104.99</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>114.99</b></li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-student">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-2019-professional-plus-11534403600436.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Professional Plus</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">599.00</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-professional-plus">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/office2019hb.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home And Business</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">204.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-business">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
       	<li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0252/7641/6085/products/microsoft-microsoft-office-2019-home-and-business-for-mac-11534395867188.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Home And Business For Mac</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">204.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-business-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/office2019pro_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2019 Professional</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">266.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2019-home-and-business-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/word2019mac_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Word 2019 for Mac</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">99.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-word-2019-for-mac">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/win7pro64_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Windows 7 Professional 64 Bit</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">69.99</span>
          </li>
          <li class="light-blue" style="text-decoration: line-through">
            <b><span>$</span>99.99</b></li>
          </ul>

          <a href="/products/microsoft-windows-7-professional-64-bit">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/office2016hs_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2016 Home and Student</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">99.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2016-student">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
       	<li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/msOffice2013hsil_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2013 Home and Student</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">68.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2013-home-and-student">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/Office2013pro_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2013 Professional</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">124.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2013-professional">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
        <li style="flex: 0 0 22%;">
          <img src="https://cdn.shopify.com/s/files/1/0086/7932/5753/products/office2010hb_400x400.png" style="width: 100%;">
          <p class="product-grid-title plus-two-font black-font">Microsoft Office 2010 Home and Business</p>

          <ul class="d-flex" style="height: 12%;">
          <li class="price-margin dark-blue d-flex">
          <span>$</span><span class="grid-price">94.99</span>
          </li>
          </ul>

          <a href="/products/microsoft-office-2010-home-and-business">
            <button class="pbutton linear-orange uppercase" style="width: 100%;">Learn more</button>
          </a>

        </li>
      </ul>
    </div>

  </div>
</section>

<style>
  #MainContent{
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding:0 15px;
  }
  ul li{
    list-style:none;
    padding:0;
  }
  ul li::marker{
    display:none;
  }
  .d-flex{
    padding:0;
  }
  .d-flex li{
    margin-right:20px;
  }
  .pbutton{
    height: 50px;
    border: none;
    background-color: #29c27f;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 123.44%;
    letter-spacing: 0.1em;
    padding: 0;
  }
</style>