<div class="page-banner faq-banner mobile-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0086/7932/5753/files/faq-bg.jpg?4931')">
  <div class="page-title">
    <h3>{{ page.title }}</h3>
  </div>
</div>

<div class="container">
  <div class="page-banner faq-banner desktop-only" style="background-image: url('https://cdn.shopify.com/s/files/1/0086/7932/5753/files/faq-bg.jpg?4931')">
    <div class="page-title">
      <h3>{{ page.title }}</h3>
    </div>
  </div>

  <div class="page_content page-faq product-faq">
    {% include 'FAQs' %}
    <button class="btn-second read-more">Read More</button>
    <button class="btn-second read-less">Read Less</button>
  </div>

</div>
