{% section 'product' %}

<!-- Verified Reviews -->
{{ product.metafields.netreviews.reviews }}
<!-- Verified Reviews -->

{% section 'trusted-seller' %}

<div class="product-buyers-pick">{% section 'deals-of-the-week' %}</div>

<div class="container">
  <div class="product-promo-banner">
  {% section 'promo-banner-blocks' %}
  </div>
</div>
